body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    color: #ffffff;
}

img {
    width: 200px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: black;
}


.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #ffffff;
}

.container-hero {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    height: 500px;
    background-image: url(./img/Koncertas\ su\ šviesų\ spinduliais.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
}

.container-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    width: 80%;
    position: relative;
    margin: auto;
    padding: 0 15px;
    z-index: 100;

}

p, h1, h4, .btn {
    margin-top: 20px;
}

.btn {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

span {
    color: blue;
    font-family: "Roboto", sans-serif;
}

.container-tickets {
    width: 1200px;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

.our-band {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.block-members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text {
    text-align: center;
    padding: 15px;
}

.members {
    width: 200px;
    gap: 10px;
    border-radius: 10px;
    background-color: #25343F;
}

.reserv-tickets {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
    background-color: #25343F;
}

.place p {
    margin: 0;
}

.place {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 180px;
    align-items: center;
    border: 1px solid #2A4759;
    border-radius: 5px;
    padding: 10px;
}

.order-btn {
    background-color: #C70039;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.image-right {
    float: right;
    width: 400px;
    margin: 0 20px 10px 0;
}

.our-story {
    width: 1200px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, #151515, #35222b, #3e2233);
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.story {
    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
}

.textStory {
    font-size: 12px;
}

.map {
    width: 90%;
    aspect-ratio: 4 / 3;
    border: 0;
    border-radius: 5px;
    align-self: center;
    padding-bottom: 10px;
}

.contakt {
    width: 1200px;
    margin: 0 auto;
    background: linear-gradient(to top left, #151515, #35222b, #3e2233);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.block-contact {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.p-message {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    padding-top: 20px;
}

.maps {
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: #25343F;
    border-radius: 5px;
}

.p-place {
    margin-top: 10px;
    margin-left: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text-input {
    padding: 10px;
    border: 1px solid #2A4759;
    border-radius: 6px;
    background-color: #25343F;
}
.btnChange {
    align-self: flex-start;
    margin-top: 0;
}

textarea {
    min-height: 100px;
    background-color: #25343F;
    font-family: "Roboto", sans-serif;
}  


.footer {
    width: 1200px;
    margin: 0 auto;
    background-color: #151515;
}